{{ template  "base"  .}}
{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is home page!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        quisquam facilis voluptatem ex praesentium dolorem nulla tempora
        repudiandae nesciunt tempore, illo quas rem, impedit repellat ullam
        consequatur suscipit modi unde adipisci, ducimus quos exercitationem
        error nobis.
      </p>
      <a href="http://localhost:8080/about">About</a>
    </div>
  </div>
</div>
{{ end }}
